body {color: #323E37; background: rgba(228, 222, 217, 0.76); font-family: monospace;}
.hidden {visibility: hidden; width: 0px; height: 0px; margin: 0px; padding: 0px; border-style: none; border-width: 0px; max-width: 0px; max-height: 0px;}
select, input {border-radius: 18px; border:1px dotted #0071b5; font-weight: bolder; height: 28px; background-color:#FFE; cursor: pointer; text-align: center;}
div#piano {
 position: relative; color: #808080; height: 82px;
}
div.ivory {
 position: absolute; left: 0px; top: 0px; border-left: 1px solid; width: 1672px;
}
.ivory span {
 background-color: #fffff0; padding: 0px; margin: 0px; border: 1px solid; border-left: 0px; display: inline-block; width: 21px; height: 80px; vertical-align: top;
}
div.ebony {
 position: absolute; left: 0px; top: 0px; margin-left: 14px; width: 1672px;
}
.ebony span {
 position: relative; z-index: 1; background-color: #111; padding: 0px; margin: 0px; border: 1px solid; display: inline-block; width: 12px; height: 56px; margin-right: 12px; vertical-align: top;
}
.ebony span.break {
 border: 0px; display: inline-block; width: 1px; margin-right: 11px; visibility:hidden;
}
.ivory span.on, .ebony span.on {
 background-color: #aaa;
}
.Center {
 width: 86%; height: 28%; margin: auto; margin-top: 25px; position: absolute; top: 0; left: 0; bottom: 0; right: 0;
}
.center {
 margin: auto; position: absolute; left: 0; bottom: 25px; right: 0;
}
.controls {
 margin-top: 45px;
}
.btn-large {padding: 8px 15px; font-size: 17.5px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;  cursor: pointer;}
.btn-large:hover { background-color: #BACCDF;}
.red, .rec {background-color: rgba(186, 44, 44, 0.28);}
.red:hover { background-color: #FF2424;}
.play {background-color: #BACCDF;}
.ivory span.col, .ebony span.col { background-color: #E9D9E3;}
li { border:1px solid #aaa; list-style-type: circle; width: 280px; height: 25px; position: relative; display: table;}
strong {vertical-align: middle; display: table-cell}
li:hover { background-color: #EFEFEF;}
#destroy {position: absolute; right: 0;}
#destroy:hover { border:1px dotted red;}
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}